/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*use fix height for sticky navigation*/
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: var(--color-tint-1);
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-gray-2);
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-main);
}

.nav__cta:link,
.nav__cta:visited {
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-default);
}

.nav__cta:hover,
.nav__cta:active {
  background-color: var(--color-shade-1);
  transform: translateY(-0.1rem);
  box-shadow: var(--box-shadow-small);
}
/* HERO SECTION */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--color-tint-1);
}

.hero {
  /*To center an element set the max width 
    and set margin left and right to auto*/
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

.hero__description {
  font-size: 2rem;
  line-height: var(--line-height-paragraph);
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-meals__imgs {
  display: flex;
}

.delivered-meals__img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-tint-1);
}

.delivered-meals__img:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-meals__text {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semi-bold);
}

.delivered-meals span {
  color: var(--color-shade-1);
  font-weight: var(--font-weight-bold);
}

.hero__img {
  /*to occupy the entire grid cell,
    set the image width to 100%*/
  width: 100%;
}

/* FEATURED SECTION */
.section-featured {
  padding: 4.8rem 3.2rem;
}

.section-featured__text {
  text-align: center;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-light-gray-1);
}

.section-featured__logos {
  display: flex;
  justify-content: space-around;
}

.section-featured__logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* HOW IT WORKS SECTION */
.section-how {
  padding: 9.6rem 0;
}

.section-how__number {
  color: var(--color-de-emphasize);
  font-size: 8.6rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 1.2rem;
}

.section-how__description {
  font-size: 1.8rem;
  line-height: var(--line-height-paragraph);
}

.section-how__img-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.section-how__img {
  width: 40%;
  z-index: 1000;
}

.section-how__img-box::before {
  display: block;
  content: '';
  width: 65%;
  padding-bottom: 65%;
  border-radius: 50%;
  background-color: var(--color-tint-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.section-how__img-box::after {
  display: block;
  content: '';
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: var(--color-tint-2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* MEALS SECTION */
.section-meals {
  padding: 2.4rem 0 9.6rem 0;
}

.section-meals__card {
  overflow: hidden;
  border-radius: var(--border-medium);
  box-shadow: var(--box-shadow-huge);
  cursor: pointer;
  transition: all 0.3s;
}

.section-meals__card:hover {
  transform: translateY(-1rem);
  box-shadow: var(--box-shadow-small);
}

.section-meals__img-box {
  overflow: hidden;
}

.section-meals__img {
  width: 100%;
  transition: all 0.4s;
}

.section-meals__img:hover {
  transform: scale(1.1);
}

.section-meals__text-box {
  padding: 2.4rem 4.8rem 8rem 4.8rem;
}

.section-meals__tags {
  display: flex;
  gap: 1.2rem;
  text-transform: uppercase;
  color: var(--color-dark-gray-3);
  font-weight: var(--font-weight-medium);
  font-size: 1.2rem;
}

.section-meals__tag {
  display: inline-block;
  border-radius: var(--border-default);
  padding: 0.2rem 0.8rem;
  margin-bottom: 1.2rem;
}

.section-meals__tag--carnivore {
  background-color: var(--color-accent-2); /*testing*/
}

.section-meals__tag--omnivore {
  background-color: var(--color-accent-1); /*testing*/
}

.section-meals__tag--paleo {
  background-color: var(--color-accent-3); /*testing*/
}

.section-meals__menu {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-dark-gray-2);
  margin-bottom: 2.4rem;
}

.section-meals__nutritional-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.8rem;
  font-size: 1.8rem;
}

.section-meals__nutritional-value {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.section-meals__icon {
  font-size: 2.4rem;
  color: var(--color-main);
}

.section-meals__nutritional-value span {
  font-weight: var(--font-weight-semi-bold);
}

.section-meals__title {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-gray-2);
  margin-bottom: 3.2rem;
}

.section-meals__diet-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  font-size: 2rem;
}

.section-meals__diet {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}

.section-meals__check-icon {
  font-size: 3rem;
  color: var(--color-main);
}

.section-meals__btn:link,
.section-meals__btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-family: inherit;
  text-decoration: none;
  color: var(--color-main);
  margin-top: 6.4rem;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.6rem;
  transition: all 0.3s;
}

.section-meals__btn:hover,
.section-meals__btn:active {
  border-bottom: 0.1rem solid transparent;
}
